.animate-button {
  background: linear-gradient(to right, #c7a407 0%, #f3c90d 50%, #c7a407 100%);
  background-size: 200% auto;
  animation: pulse-gradient 3.5s ease-in-out infinite;
}

@keyframes pulse-gradient {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
